@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.font {
    font-family: "Montserrat Alternates", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-medium {
    font-family: "Montserrat Alternates", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .font-bold {
    font-family: "Montserrat Alternates", serif;
    font-weight: 600;
    font-style: normal;
  }
  
* {
    box-sizing: border-box;
}
body {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

.flex {
    display: flex;
}

.turn-info {
    display: none;
    font-size: 30px;
    color: #ede8e8;
    margin: 0;
    padding: 0;
}

.board {
    background-color: aquamarine;
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 70px;
    height: 70px;
    background-color: #a35050;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 5px;
}

.white {
    background-color: #ede8e8;
}

.black {
    background-color: #7c8979;
}

.piece { 
    width: 60px;
    height: 60px;
}

.white-pawn {
    background-image: url(./img/pawn-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.white-rook {
    background-image: url(./img/rook-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.white-knight {
    background-image: url(./img/knight-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.white-bishop {
    background-image: url(./img/bishop-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.white-king {
    background-image: url(./img/king-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.white-queen {
    background-image: url(./img/queen-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.black-pawn {
    background-image: url(./img/pawn-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.black-rook {
    background-image: url(./img/rook-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.black-knight {
    background-image: url(./img/knight-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.black-bishop {
    background-image: url(./img/bishop-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.black-king {
    background-image: url(./img/king-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}

.black-queen {
    background-image: url(./img/queen-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.picked-piece {
     background-color: transparent;
}

.legal-move {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.legal-move::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #54535356;
}

.short-castle {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.short-castle::after {
    content: '';
    position: absolute;
    left: 15px;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: #54535356;
}

.short-castle::before {
    content: '';
    position: absolute;
    right: 15px;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: #54535356;
}

.long-castle {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
}

.long-castle::after {
    content: '';
    position: absolute;
    left: 15px;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: #54535356;
}

.long-castle::before {
    content: '';
    position: absolute;
    right: 15px;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    background-color: #54535356;
}

.under-attack {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.under-attack::after {
    content: '';
    margin: 0;
    padding: 0;
    position: absolute;
    width: 57px;
    height: 57px;
    border-radius: 50px;
    border: 7px solid #54535356;   
}

.player-black {
    position: relative;
    height: 50px;
    background-color: rgb(71, 71, 71);
    padding: 4px;
    border-radius: 6px;
}

.player-white {
    position: relative;
    height: 50px;
    background-color: rgb(216, 215, 215);
    padding: 4px;
    border-radius: 6px;
}

.board-wrapper {
    gap: 10px;
    flex-direction: column;
}

.players-wrapper {
    background-color: rgb(191, 193, 195);
    width: 300px;
    height: 560px;
    padding: 10px;
}

.player-info-wrapper { 
    display: flex;

}
.taken-pieces {
    display: flex;
    height: 20px; 
    align-items: flex-end;
}

.taken-pieces .piece {
    width: 16px;
    height: 22px;
    margin: 0;
    padding: 0;
}

.player-img {
    width: 45px;  
    height: 45px;  
}
.player-name-white {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #3c3a3a;
    
}
.player-name-black {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #dad6d6;

    
}
.player-info {
    align-items: center;
    gap: 10px;
}

.score {
    display: none;
}

.player-right-wrapper {
    flex-direction: column;
    justify-content: space-between;
}

.black-advantage {
    color: #dad6d6;
}
.white-advantage {
    color: #3c3a3a;
}

.black-move-indicator {
    display: none;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: #dad6d6
}

.white-move-indicator {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: rgb(71, 71, 71);
}

.game-info {
    width: 250px;
    height: 560px;
    border-radius: 8px;
    background-color: #dad6d6;
    padding: 10px;
    overflow-y: scroll;
}

.game-info::-webkit-scrollbar {
    display: none;
  }

.moves-history-list {
    margin: 0;
    padding-left: 25px;
}

.moves-history-item {
    margin-bottom: 5px;
}

.checked {
    position: relative;
    display: flex;
    margin: 0;
}
.checked::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: 1px;
    top: 1px;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    background-color: #cf4f4fa3;
}

.promotion-modal {
    position: absolute; 
    top: 0; 
    width: 70px; 
    height: auto; 
    background-color: #ede8e8;
    z-index: 999;
  }
  .black-modal {
    top: auto;
    bottom: 0;
  }

  .btn {
    border: none;
    width: 60px;
    height: 60px;
    padding: 5px;
    margin: 5px;
    background-color: transparent;
  }
  .btn-white-queen {
    background-image: url(./img/queen-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.btn-white-rook {
    background-image: url(./img/rook-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.btn-white-knight {
    background-image: url(./img/knight-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.btn-white-bishop {
    background-image: url(./img/bishop-white.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.btn-black-queen {
    background-image: url(./img/queen-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.btn-black-knight {
    background-image: url(./img/knight-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.btn-black-bishop {
    background-image: url(./img/bishop-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.btn-black-rook {
    background-image: url(./img/rook-black.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.selection-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.selection-modal {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 800px;
}

.opponents-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.opponent {
    cursor: pointer;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border 0.3s;
    width: 250px;
}
.opponent h3 {
    margin: 0;
    padding: 0;
}

.opponent p {
    margin: 0;
    padding: 0;
}
.opponent:hover {
    border: 2px solid #000;
}

.opponent-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.color-selection {
    margin-bottom: 20px;
}

.color-selection label {
    margin: 0 10px;
    font-size: 1.2em;
}

.start-game-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    background: #007BFF;
    color: #fff;
    border-radius: 5px;
    transition: background 0.3s;
}

.start-game-button:hover {
    background: #0056b3;
}

.opponent.selected-opponent {
    border: 2px solid #007BFF;
    box-shadow: 0 0 10px rgba(0,123,255,0.5);
    transform: scale(1.05);
}

.color-pick-wrapper {
    display: none;
}

.thinking {
    display: none;    
    top: 10px;
    right: 10px; 
    font-size: 15px;
    color: white;
    padding: 0 6px; 
    border-radius: 5px;
}

.op-descr {
    font-size: 13px;
    color: #3c3a3a;
}

.game-result {
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
}

.game-result-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.result-title {
    font-size: 28px;
    margin: 0;
    padding: 0;
}

.result-text {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 25px;
}

.result-img {
    margin-bottom: 30px;
}